<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ResultMeasure</title>
</head>
<body>
{#    {% load static %}#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'HiMyserver/style.css' %}">#}
    {% if result_list %}
{#        {{ result_list.0 }}#}
        <ul>
            {% for result in result_list %}
{#                <li><a href="{% url 'HiMyserver:translate' result %}">{{result}}</a></li>#}
                <li> {{ result }} </li>
{#                <br />#}
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</body>
</html>